p{
    color: rgb(255, 92, 32);
}
body{
    background-color: rgb(9, 9, 10);
    /* the color selector changes the text color */
    color: rgb(214, 195, 167);
    /* Center the body contets */
    text-align: center;
    list-style-position: inside;


    

}
footer{
    padding-top: 150px;
}